
{% load static tailwind_tags %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% tailwind_css %}
        {% comment %} <link rel="icon" href="{% static 'images/favicon.ico' %}"> {% endcomment %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
       {% include "includes/navbar.html" %}



        
        <script src="" async defer></script>
    </body>
</html>