{% extends "base.html" %}
{% block content %}

<div class="container">
  {% for post in posts %}
    <div class="bg-gray-800 rounded shadow p-4 mb-4 flex items-center">
      {% if post.image %}
        <a href="{% url 'post_detail' post.pk %}">
          <div class="w-96 h-64 flex items-center justify-center overflow-hidden mr-6 rounded">
            <img
              src="{{ post.image.url }}"
              alt="Post image"
              class="object-cover w-full h-full"
            />
          </div>
        </a>
      {% endif %}
      <div>
        <a href="{% url 'post_detail' post.pk %}">
          <h2 class="text-xl font-bold text-white mb-2 ml-4 break-words whitespace-normal">
            {{ post.title }}
          </h2>
          <p class="text-white mb-1 ml-4 break-words whitespace-normal">
            {{ post.message }}
          </p>
        </a>
        <span class="text-gray-400 text-xs ml-4">{{ post.created_at }}</span>
      </div>
    </div>
  {% empty %}
    <p class="text-gray-400">No posts yet.</p>
  {% endfor %}
</div>

{% endblock %}