<!-- filepath: c:\Users\Asus\Desktop\beginning\templates\base_auth.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Auth{% endblock %}</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen bg-gray-900">
    <main class="flex-grow container mx-auto px-4 py-8">
        
        {% block content %}
        
        {% endblock %}
    </main>
    {% include "includes/footer.html" %}
    {% block scripts %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script>
      {% if messages %}
        {% for message in messages %}
          toastr.options = {
            "closeButton": true,
            "progressBar": true,
            
          };
          toastr["{{ message.tags|default:'info' }}"]("{{ message|escapejs }}");
        {% endfor %}
      {% endif %}
    </script>

</body>
</html>